@{
    ViewData["Title"] = "Home Page";
}

<h1>PWNED!</h1>

<form asp-controller="Home" asp-action="Upload" enctype="multipart/form-data">
    <input type="file" name="data" />
    <input type="submit" value="Submit" />
</form>